<a href="https://colab.research.google.com/github/rishh19/ML_CLASS_CSE11/blob/main/ML_daatset_creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("Student.csv")
print(df)

    Stud_Id        Name  Age  RollNo Section
0         1      rishav   20      10       A
1         2  priysanshu   20      11       B
2         3      roshan   21      12       C
3         4    shibhang   20      13       D
4         5       ishan   20      14       E
5         6       sumit   19      15       F
6         7       parth   20      16       G
7         8      shreya   21      17       H
8         9        kuhu   22      18       I
9        10      samyak   21      19       J
10       11       sumit   19      15       K
11       12       parth   20      16       L
12       13      shivam   21      17       M
13       14    vanshika   22      18       N
14       15         sam   21      19       O
15       16      prachi   19      15       P
16       17         isa   20      16       Q
17       18      akshat   21      17       R
18       19       naman   22      18       S
19       20       rahul   21      19       T

In [8]:
print(df.head())

   Stud_Id        Name  Age  RollNo Section
0        1      rishav   20      10       A
1        2  priysanshu   20      11       B
2        3      roshan   21      12       C
3        4    shibhang   20      13       D
4        5       ishan   20      14       E